<div class="contents">
    <div class="row">
        <div class="col-sm-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-sm-4">
            <h2>Mensagem chamativa</h2>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis,
                aguis e fermentis. Mé faiz elementum girarzis, nisi eros vermeio. Interessantiss quisso pudia ce receita
                de
                bolis,
                mais bolis eu num gostis. Quem num gosta di mim que vai caçá sua turmis!</p>

            <h3>Mais informações</h3>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
                Não
                sou faixa preta cumpadi, sou preto inteiris, inteiris. Viva Forevis aptent taciti sociosqu ad litora
                torquent. Si num tem leite então bota uma pinga aí cumpadi!</p>

        </div>
    </div>
</div>