
<!-- header -->
<app-header></app-header>

<div class="container mt-4" >
  <mat-toolbar class="menu-sidebar">
     <app-toggle-sidebar></app-toggle-sidebar>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened="true"  autosize fixedTopGap="56">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
  
    <mat-sidenav-content [@onSideNavChange]="sidebarState">
      <!-- routes will be rendered here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<!-- footer -->
<app-footer></app-footer>
