.contents {
    margin: 10px;
}

.contents > div.row {
    border: 1px solid;
    margin: 10px;
    position: relative;
    float: left;

}

.card {
    text-align: center;
    color: white;
    background-color: black; 
    width: 400px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 3rem;
    float: left;
}
